:root {
    --color-text: #212121; /*основний колір тексту*/
    --color-text-secohd: #757575; /*колір тексту другий*/
    --color-text-logo: #2196F3; /*колір лого і нав хедер*/
    --color-text-logo2: #000000; /*колір лого*/
    --primery-background: #ffffff; /* колір фону хедер */
    --second-background: #2F303A; /*колір фону зверху секція 1 та футер*/
    --filter-color: #F5F4FA;/*колір наша команда фон кнопок портфоліо*/
    --background-olor: #F5F5F5; /*основний колір фону*/
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primery-background);
    color: var(--color-text);
    margin: 0;
    

}
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h2, h3, p {
    margin: 0;
}

/*logo*/ /*дизайн основної сторінки*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
.container-heder {
display: flex;
align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
}
.logo-web {
    color: var(--color-text-logo);
}
.logo-studio {
    color: var(--color-text-logo2);
}
/*хедер навігація*/
.site-nav  {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text);
    padding: 32px 0;
    display: flex;
    margin: 0px 0px 0px 93px; 
}

.link  {
    text-decoration: none;
    color: var(--color-text);
    padding: 32px 0px;
    margin-left: 50px;
}
.link:hover {
    color: var(--color-text-logo);
}
.link:focus {
    color: var(--color-text-logo);
}
.auth-nav {
    margin-left: auto;
    display: flex;
}
/*хедер пошта тел*/
.heder-contact {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-text-secohd);
    margin-left: 50px;
    padding: 32px 0;

}
.heder-contact:hover {
    color: var(--color-text-logo);
}
.heder-contact:focus {
    color: var(--color-text-logo);
}

/*секція 1 заголовок і кнопка*/
.section {
    background-color: var(--second-background);
    padding-top: 200px;
    padding-bottom: 200px;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primery-background);
    max-width: 696px; 
    margin: 0px auto 30px auto;
    text-align: center;
}
.button {
    font-family: roboto;
    cursor: pointer;
    background: var(--color-text-logo);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primery-background);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    display: block;
    min-width: 216px;
    margin: auto;
}
.button:hover {
    background-color: #188CE8;
    color: var(--color-text);
}
.button:focus {
    background-color: #188CE8;
    color: var(--color-text);
}

/*наші переваги наші особливості, секція 2*/

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-hidden {
    display: flex;
    padding: 0;
}
.container-list:not(:first-child) {
    margin-left: 30px;
}
.list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 10px;
}
.list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text-secohd);
    width: 270px;
}

/*чим ми займаємося*/
.work-section {
    padding-bottom: 94px;
}
.title-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin-bottom: 50px;
}
.list-work-img  {
    
}
.work-img {
    display: inline-block;
    margin-left: 30px;
    
}
.work-img:first-child {
    margin-left: 0;
}

/*наша команда*/

.team {
    
}
.team-section {
    background-color: var(--filter-color);
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text-secohd);
} 
.list-team {
    background-color: var(--primery-background);
    display: inline-block;
    margin-left: 26px;
    text-align: center;
    
}
.list-team:first-child {
    margin-left: 0;

}
.foto-team {
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    margin-bottom: 50px;
}

.team-name {
    margin-top: 30px;
}
.position {
    margin-top: 10px;
    margin-bottom: 30px;
}
/*футер*/

.footer {
    background-color: var(--second-background);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.logo-footer {
    
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
}
.logo-web-footer {
    color: var(--color-text-logo);
}
.logo-studio-footer {
    color: var(--primery-background);
}

.footer-contact{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-text-secohd);
    margin-bottom: 9px;
}
.footer-contact:last-child {
    margin-bottom: 0;
}
.adres {
    font-style: normal;
    margin-top: 20px;

}

.adres-list {
}

.adres-list-ithem {
flex-wrap: wrap;
margin-bottom: 9px;
}
.adres-list-ithem:last-child {
    margin-bottom: 0;
}

.adres-maps {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-background); 
    text-decoration: none;
}

/*портфоліо*/
/*кнопки*/

.header-line {
    border-bottom: 1px solid #ECECEC;
}


.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-button-item {
    margin-left: 8px;
}
.portfolio-button-item:first-child {
    margin-left: 0;
}

.portfolio-button {
    font-family: roboto;
    background: var(--filter-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    justify-content: center;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text);
    
    padding: 6px 22px;
    display: block;
}

.portfolio-button:hover {
    left: 512px;
    background: var(--color-text-logo);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primery-background);
}

.portfolio-button:focus {
    left: 512px;
    background: var(--color-text-logo);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--primery-background);
}

/*приклади робіт*/
.section-portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.item-work {
margin-right: 30px;
margin-bottom: 30px;

}
.item-work:nth-child(3n) {
    margin-right: 0;
}
.item-work:nth-last-child(-n + 3) {
margin-bottom: 0;
}

.border-work-item {
    padding: 20px 24px;
    border : 1px solid #EEEEEE;
    border-top: none;
    
}

.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text);
    margin: 0;
    max-width: 322px;
    margin-bottom: 4px;
}
.image-portfolio {
}

.lead-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--color-text-secohd); 
    max-width: 322px;
}
.link-portfolio {
    
    list-style: none;
    text-decoration: none;
}


/**/
